<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbgame.repository.dao.UserMapper">

    <resultMap type="com.bbgame.repository.domain.User" id="BaseResultMap" >
        <id column="id" property="id" />
        <result column="account" property="account" />
    </resultMap>
    <select id="findById" resultMap="BaseResultMap" databaseId="mysql">
    SELECT * FROM bbgame_usr WHERE id = #{id}
    </select>
</mapper>
